.grid-container {
  display: grid;
  gap: 1.5rem; /* Espaciado entre elementos */
}

/* Por defecto, 1 columna */
.grid-container {
  grid-template-columns: repeat(1, 1fr);
}

/* A partir de 500px, 2 columnas */
@media (min-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* A partir de 768px, 3 columnas */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* A partir de 1024px, 4 columnas */
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* A partir de 1280px, 5 columnas */
@media (min-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
